*.log
venv/
__pycache__/GoldHour_DataTransformation.cpython-311.pyc
__pycache__/GoldHour_DataTransformation.cpython-311.pyc
__pycache__/SilverHour_DataCleansing.cpython-311.pyc
__pycache__/Platinum_HourFinalData.cpython-311.pyc
__pycache__/Sql_DataTransfer.cpython-311.pyc
__pycache__/SQL_HourlyDataTransfer.cpython-311.pyc
__pycache__/GoldHour_DataTransformation.cpython-311.pyc
aqi_map.html
asa
.gitignore
map.html
.gitignore
.gitignore
.gitignore
.gitignore
test.py
__pycache__/Gold_DataTransformation.cpython-311.pyc
.gitignore
.gitignore
file2.txt
sample2.txt
sss
test
tempCodeRunnerFile.py
tempCodeRunnerFile.py
test.py
__pycache__/Gold_DataTransformation.cpython-311.pyc
